/*.romarr__navbar {


    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-radius: 0 0 1rem 1rem;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    padding: 0 1rem;
    background-color: transparent;
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 12px;
    transition: 0.3s ease-in-out;
    top: 0;
}
Disabled the line below for now
.romarr__navbar::after {
    content: "";
    position: absolute;
    display: block;
    left: 14rem;
    right: 14rem;
    bottom: 0;
    border-bottom: 1.75px solid dimgray;
    transition: 0.3s ease-in-out;
}


.romarr__navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
    width: 70%;

}

.romarr__navbar:hover {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.romarr__navbar.scrolled::after {
    border-bottom: 1.75px solid #fff;
}
.romarr__navbar-logo:hover {
    transform: scale(1.1);
}

li {
    display: inline;
}

a {
    background-color: transparent;
    color: #fff;
    border: transparent;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: var(--font-family);
    font-weight: 600;
    display: inline-block;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
    border-radius: 12rem;
}

a:hover {
    background-color: #000000;
    color: #fff;
}

.romarr__navbar-user {
    display: flex;
    align-items: center;
    font-family: var(--font-family);

}

.romarr__navbar-user button {
    background-color: transparent;
    color: #fff; 
    border: transparent;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: var(--font-family);
    font-weight: 600;
    display: inline-block;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
    border-radius: 12rem;
}

.romarr__navbar-user button:hover {
    background-color: #000000;
    color: #fff;
}

.romarr__navbar-search {

}

.romarr__navbar-logo {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;   
    padding: 10px 20px;


}

.romarr__navbar-logo img {
    height: auto;
    width: 7rem;
}

.romarr__navbar-user-icon {
    margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
    .romarr__navbar {
        width: 100%;
    }

    .romarr__navbar::after {
        left: 1rem;
        right: 1rem;
    }

    .romarr__navbar-logo {
        margin-left: 1rem;
    }

    .romarr__navbar-user {
        margin-right: 1rem;
    }

    .romarr__navbar a {
        display: none;
    }
    
}
*/
