.romarr__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 15rem;
    font-family: var(--font-family);
    font-size: 0.60rem;
    position: relative;
}

.romarr__navbar::after {
    content: "";
    position: absolute;
    display: block;
    left: 14rem;
    right: 14rem;
    bottom: 0;
    border-bottom: 1.5px solid dimgray;
}

.romarr__navbar-menu a {

}

a {
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: var(--font-family);
    font-size: 1.1rem
}

.romarr__navbar-user {
    display: flex;
    align-items: center;


}

.romarr__navbar-user button {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 0.5;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.romarr__navbar-user button:hover {
    background-color: #1e293b;
    color: #fff;
}

@media (min-width: 768px) {
    .romarr__navbar-user button {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}

.romarr__navbar-search {

}

.romarr__navbar-logo {
    margin-right: 1rem;

}

.romarr__navbar-logo img {
    height: auto;
    width: 7rem;
}
