* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* Disabled the background completely for the time being for easier modification */
body {
  /*background-image: url('./assets/jpg/background.jpg');*/
  background-color: #030712; /* This is the hex color code for bg-gray-800 in Tailwind CSS */
  background-repeat: no-repeat;
  background-size: 150%;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.section__padding {
  padding: 2rem 10rem;
}

.section__margin {
  margin: 4rem 10rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * 25% * 4)); /* 4 = IMAGES */
  }
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
  border-radius: 0.75rem;
  height: 16rem;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.carousel {
  display: flex;
  width: calc(200%);
  animation: scroll 30s linear infinite;
}

.carousel-text {
  position: absolute;
  font-variant: small-caps;
  display: flex;
  width: 100%;
  max-width: min-content;
  font-size: 10rem;
  font-weight: 700;
  color: #ffffff;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  margin-top: -1rem;
}

.carousel-image {
  width: 25%;
  flex-shrink: 0;
  object-fit: cover;
  height: 100%;
  filter: saturate(180%);
  opacity: 0.9;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1670px) {
  .section__padding {
    padding: 2rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
  .carousel-image {
    width: 50%;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1 * 50% * 4));
    }
  }
}

@media screen and (max-width: 1125px) {
  .section__padding {
    padding: 2rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
  .carousel-image {
    width: 100%;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1 * 100% * 4));
    }
  }
}

@media screen and (max-width: 890px) {
  .carousel-container {
    display: none;
  }
}
