* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Disabled the background completely for the time being for easier modification */
body {
    /*background-image: url('./assets/jpg/background.jpg');*/
    background-repeat: no-repeat;
    background-size: 150%;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
}

a {
    color: unset;
    text-decoration: none;
}

.section__padding {
    padding: 2rem 10rem;
}

.section__margin {
    margin: 4rem 10rem;
}
